@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75,300..800;1,75,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@media (min-width: 1500px) {
    .footer {
      display: flex;
      justify-content: space-between; /* Garante que as colunas se espalhem uniformemente */
      align-items: stretch; /* Faz com que as colunas tenham a mesma altura */
      padding: 90px 20px; /* Padding horizontal ajustado para responsividade */
      background-color: #184277;
      color: #fff;
      font-size: 13px;
      width: 100%;
      flex-wrap: wrap; /* Permite que as colunas quebrem linha em telas menores */
    }
    
    .footer-column1,
    .footer-column2,
    .footer-column3 {
      flex: 1; /* Faz com que cada coluna use igualmente o espaço disponível */
      padding: 0 20px;
      border-left: #ffffff 2px dotted;
      min-width: 200px; /* Define uma largura mínima para as colunas */
      display: flex;
      flex-direction: column; /* Garante que o conteúdo interno seja empilhado */
      height: 100%; /* Faz com que a borda ocupe toda a altura da coluna */
      
    }
    
    .footer-column1 {
      margin-left: 400px;
    }
    
    .footer-column3 {
      margin-right: 300px;
    }
    
    
    .footer-title {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    }
    
    .footer-border {
    border-bottom: 1px #fff solid;
    margin-bottom: 10px;
    width: 20%; /* Mantém a borda com largura 100% da coluna */
    }
    
    .footer-list {
    list-style: none;
    padding: 0;
    }
    
    .footer-list li {
    margin-bottom: 5px;
    }
    
    .icones-footer {
    display: flex;
    gap: 20px;
    font-size: 25px;
    }
    
    .parte-branca {
    font-style: italic;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f8f8f8;
    }
    
    .details1 {
    text-align: center;
    color: #224276;
    }
    
    .details2 {
    text-align: end;
    margin-right: 300px;
    color: #224276;
    }
    
    .logo-f img {
    height: 50px;
    margin-left: 300px;
    }
    
    .credits {
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    }
    
    .footer-list a {
    text-decoration: none;
    color: inherit; /* Herda a cor do texto do pai */
    }
    
    .footer-list a:hover {
    text-decoration: underline;
    }
    
    .footer-title {
    font-weight: bold;
    font-size: 1.2rem;
    }
    
    .footer-column3 .footer-title a {
    text-decoration: none;
    }
    
    .footer-column3 .footer-title a:hover {
    text-decoration: underline;
    }
    
    .icones-footer a i {
    color: inherit; /* Mantém a cor original dos ícones */
    transition: color 0.3s ease; /* Adiciona uma transição suave ao hover */
    }
    
    .icones-footer a i:hover {
    color: #fff; /* Muda a cor do ícone para branco no hover */
    }
    }
    
    @media (max-width:1499px) and ( min-width: 768px) {
      .footer {
        display: flex;
        justify-content: space-between; /* Garante que as colunas se espalhem uniformemente */
        align-items: stretch; /* Faz com que as colunas tenham a mesma altura */
        padding: 90px 20px; /* Padding horizontal ajustado para responsividade */
        background-color: #184277;
        color: #fff;
        font-size: 13px;
        width: 100%;
        flex-wrap: wrap; /* Permite que as colunas quebrem linha em telas menores */
      }
      
      .footer-column1,
      .footer-column2,
      .footer-column3 {
        flex: 1; /* Faz com que cada coluna use igualmente o espaço disponível */
        padding: 0 20px;
        border-left: #ffffff 2px dotted;
        min-width: 200px; /* Define uma largura mínima para as colunas */
        display: flex;
        flex-direction: column; /* Garante que o conteúdo interno seja empilhado */
        height: 100%; /* Faz com que a borda ocupe toda a altura da coluna */
        
      }
      
      
      .footer-title {
      font-size: 18px;
      margin-top: 10px;
      font-weight: bold;
      }
      
      .footer-border {
      border-bottom: 1px #fff solid;
      margin-bottom: 10px;
      width: 20%; /* Mantém a borda com largura 100% da coluna */
      }
      
      .footer-list {
      list-style: none;
      padding: 0;
      }
      
      .footer-list li {
      margin-bottom: 5px;
      }
      
      .icones-footer {
      display: flex;
      gap: 20px;
      font-size: 25px;
      }
      
      .parte-branca {
        font-style: italic;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens horizontalmente */
        justify-content: center; /* Centraliza os itens verticalmente */
        text-align: center; /* Centraliza o texto */
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #f8f8f8;
      }
      
      .details1, .details2 {
        color: #224276;
        margin: 10px 0; /* Adiciona espaçamento entre os detalhes e a logo */
      }
      
      .logo-f img {
        height: 50px;
        margin: 20px auto; /* Centraliza a logo horizontalmente */
      }
      
      .credits {
      background-color: black;
      color: white;
      font-size: 14px;
      text-align: center;
      padding: 5px;
      }
      
      .footer-list a {
      text-decoration: none;
      color: inherit; /* Herda a cor do texto do pai */
      }
      
      .footer-list a:hover {
      text-decoration: underline;
      }
      
      .footer-title {
      font-weight: bold;
      font-size: 1.2rem;
      }
      
      .footer-column3 .footer-title a {
      text-decoration: none;
      }
      
      .footer-column3 .footer-title a:hover {
      text-decoration: underline;
      }
      
      .icones-footer a i {
      color: inherit; /* Mantém a cor original dos ícones */
      transition: color 0.3s ease; /* Adiciona uma transição suave ao hover */
      }
      
      .icones-footer a i:hover {
      color: #fff; /* Muda a cor do ícone para branco no hover */
      }
      }
    
    @media (max-width: 768px) {
      .footer {
        padding: 90px 20px; /* Padding horizontal ajustado para responsividade */
        background-color: #184277;
        color: #fff;
        font-size: 13px;
        width: 100%;
        flex-wrap: wrap; /* Permite que as colunas quebrem linha em telas menores */
      }
      
      .footer-column1,
      .footer-column2,
      .footer-column3 {
        padding: 0 20px;
        border-left: #ffffff 2px dotted;
        min-width: 200px; /* Define uma largura mínima para as colunas */
        display: flex;
        flex-direction: column;
        height: 100%; /* Faz com que a borda ocupe toda a altura da coluna */
        
      }
      
      .footer-title {
      font-size: 18px;
      margin-top: 10px;
      font-weight: bold;
      }
      
      .footer-border {
      border-bottom: 1px #fff solid;
      margin-bottom: 10px;
      width: 20%; /* Mantém a borda com largura 100% da coluna */
      }
      
      .footer-list {
      list-style: none;
      padding: 0;
      
      }
      
      .footer-list li {
      margin-bottom: 5px;
      }
      
      .icones-footer {
      display: flex;
      gap: 20px;
      font-size: 25px;
      }
      
      .parte-branca {
        font-style: italic;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens horizontalmente */
        justify-content: center; /* Centraliza os itens verticalmente */
        text-align: center; /* Centraliza o texto */
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #f8f8f8;
      }
      
      .details1, .details2 {
        color: #224276;
        margin: 10px 0; /* Adiciona espaçamento entre os detalhes e a logo */
      }
      
      .logo-f img {
        height: 50px;
        margin: 20px auto; /* Centraliza a logo horizontalmente */
      }
      
      .credits {
      background-color: black;
      color: white;
      font-size: 14px;
      text-align: center;
      padding: 5px;
      }
      
      .footer-list a {
      text-decoration: none;
      color: inherit; /* Herda a cor do texto do pai */
      }
      
      .footer-list a:hover {
      text-decoration: underline;
      }
      
      .footer-title {
      font-weight: bold;
      font-size: 1.2rem;
      }
      
      .footer-column3 .footer-title a {
      text-decoration: none;
      }
      
      .footer-column3 .footer-title a:hover {
      text-decoration: underline;
      }
      
      .icones-footer a i {
      color: inherit; /* Mantém a cor original dos ícones */
      transition: color 0.3s ease; /* Adiciona uma transição suave ao hover */
      }
      
      .icones-footer a i:hover {
      color: #fff; /* Muda a cor do ícone para branco no hover */
      }
      }
      